@model List<ResultMenuDto>
@foreach (var item in Model)
{
    <section class="ftco-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 pr-md-5">
                    <div class="heading-section text-md-right ftco-animate">
                        <span class="subheading">@item.ShortTitle</span>
                        <h2 class="mb-4">@item.Title</h2>
                        <p class="mb-4">@item.Description</p>
                        <p><a href="#" class="btn btn-primary btn-outline-primary px-4 py-3">Ürünlerimize Göz Atın</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="menu-entry">
                                <a href="#" class="img" style="background-image: url(@item.Image1);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="img" style="background-image: url(@item.Image2);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry">
                                <a href="#" class="img" style="background-image: url(@item.Image3);"></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="menu-entry mt-lg-4">
                                <a href="#" class="img" style="background-image: url(@item.Image4);"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
