@{
    int count1 = 0;
    int count2 = 0;
}
@model List<ResultPrdouctWithCategory>
<section class="ftco-menu">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Öne Çıkan</span>
                <h2 class="mb-4">Ürünlerimiz</h2>
                <p> Kafemizde özenle hazırladığımız lezzetleri keşfedin! Güne keyifli bir başlangıç yapmanız için her damak zevkine uygun ürünlerimizle karşınızdayız. İşte en çok tercih edilen ve misafirlerimiz tarafından en beğenilen ürünlerimiz </p>
            </div>
        </div>
        <div class="row d-md-flex">
            <div class="col-lg-12 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">

                        <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            @foreach (var item in ViewBag.Categories as List<ResultCategoryDto>)
                            {
                                count1++;
                                <a class="nav-link @(count1==1?"active":"")" id="v-pills-@item.CategoryId-tab" data-toggle="pill" href="#v-pills-@item.CategoryId" role="tab" aria-controls="v-pills-@item.CategoryId" aria-selected="true">@item.Name</a>


                            }



                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            @foreach (var item in Model)
                            {
                                count2++;
                                <div class="tab-pane fade show @(count2==1?"active":"")" id="v-pills-@item.category.CategoryId" role="tabpanel" aria-labelledby="v-pills-@item.category.CategoryId-tab">
                                    <div class="row">
                                        @foreach (var item2 in Model.Where(t => t.category.CategoryId == item.category.CategoryId))
                                        {
                                            <div class="col-md-4 text-center">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4" style="background-image: url(@item2.ImageURL);"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@item2.Title</a></h3>
                                                        <p>@item2.Description</p>
                                                        <p class="price"><span>@item2.Price  ₺</span></p>
                                                        <p><a href="/ProductDetail/Index/@item2.ProductId" class="btn btn-primary btn-outline-primary">Detaylar</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        }


                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
