@using CoffeBlend.WebUI.Enums
@model List<ResultTableDto>
@{
    ViewData["Title"] = "TableList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    string cardCss = "data-icon-card-primary";
    string iconCss = "mdi mdi-check-all icon-lg";
    string text = "Boş";
    string btnCardCss = "block";
    string text2 = "";
}


@* <div class="row">

    @foreach (var item in Model)
    {
        if (item.Status == (byte)TableStatusTypes.Deactive)
        {
            cardCss = "data-icon-card-danger";
            iconCss = "mdi mdi-coffee icon-lg";
            text = "Dolu";
            btnCardCss = "block";
        }
        else if (item.Status == (byte)TableStatusTypes.Reseravtion)
        {
            cardCss = "data-icon-card-dark";
            iconCss = "mdi mdi-history icon-lg";
            text = "Rezerve";
            btnCardCss = "none";
        }
        else
        {
            cardCss = "data-icon-card-primary";
            iconCss = "mdi mdi-food-fork-drink icon-lg";
            text = "Boş";
            btnCardCss = "none";

        }
        <div class="col-md-2 mb-xl-3 mb-3 stretch-card grid-margin grid-margin-md-0">
            <div class="card @cardCss">
                <div class="card-body">
                    <p class="card-title text-white">@item.Name</p>
                    <div class="row">
                        <div class="col-8 text-white">
                            <h4>Masa @text</h4>
                        </div>
                        <div class="col-4 ">
                            <i class="@iconCss"></i>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    }


</div>
 *@


<div class="row">
    @foreach (var item in Model)
    {
        if (item.Status == (byte)TableStatusTypes.Deactive)
        {
            cardCss = "bg-danger text-white";
            iconCss = "mdi mdi-coffee icon-lg";
            text = "Dolu";
            
            btnCardCss = "block";
        }
        else if (item.Status == (byte)TableStatusTypes.Reseravtion)
        {
            cardCss = "bg-warning text-white";
            iconCss = "mdi mdi-history icon-lg";
            text = "";
            text2 = "Bu Masa Rezerve Edildi.";
            btnCardCss = "none";
        }
        else
        {
            text2 = "Bu Masa Şuan Boş.";
            cardCss = "bg-primary text-white";
            iconCss = "mdi mdi-food-fork-drink icon-lg";
            text = "";
            text2 = "Bu Masa Şuan Boş.";
            btnCardCss = "none";

        }
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body @cardCss rounded p-5 d-flex justify-content-between align-items-center">
                    @if (btnCardCss == "none")
                    {
                        <div class="d-flex flex-column text-center">
                           <h4>@text2</h4>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex flex-column">
                            <a href="/admin/order/OrderDetail/@item.TableID?tableId=@item.TableID&tableName=@item.Name" style="display:@btnCardCss" class="btn btn-primary mb-2">Siparişleri Görüntüle</a>
                            <a href="/admin/order/index?tableId=@item.TableID&tableName=@item.Name" style="display:@btnCardCss" class="btn btn-primary">Sipariş Al</a>
                        </div>
                    }
                  
                    <div class="text-end">
                        <i class="mdi mdi-food-fork-drink icon-lg" style="font-size: 3rem;"></i>
                        <h6 class="card-title text-white font-weight-bold mt-2">@item.Name</h6>
                        <p class="card-text font-weight-bold">@text</p>
                    </div>


                </div>
            </div>
        </div>

    }

</div>
